PORT=7200
NATS_URL=
NATS_QUEUE_GROUP=sempiternal-workers
REDIS_URL=
MONGO_URI=
MONGO_DB_NAME=sempiternal
STORAGE_ENDPOINT=
STORAGE_REGION=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
OPENAI_API_KEY=
AI_MODEL=
