@import "tailwindcss";
@import "tw-animate-css";
@import "@repo/theme/foundation";
@import '@lib/css/neon.utility.css';

:root {}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border;
  }
  body {
    @apply relative bg-background text-foreground;  
  }
}

@theme inline {
  --color-background: var(--ng-color-bg);
  --color-foreground: var(--ng-color-foreground);
  --color-foreground-muted: var(--ng-color-foreground-muted);

  --color-card: var(--ng-color-surface);
  --color-card-foreground: var(--ng-color-foreground);

  --color-popover: var(--ng-color-surface);
  --color-popover-foreground: var(--ng-color-foreground);

  --color-primary: var(--ng-color-primary);
  --color-primary-foreground: var(--ng-color-primary-foreground);

  --color-accent: var(--ng-color-accent);
  --color-accent-foreground: var(--ng-color-accent-foreground);

  --color-destructive: var(--ng-color-danger);
  --color-success: var(--ng-color-success);
  --color-warning: var(--ng-color-warning);
  --color-info: var(--ng-color-info);

  --color-border: var(--ng-color-border);
  --color-input: var(--ng-color-input);
  --color-ring: var(--ng-color-ring);
}

