PORT=7100
NATS_URL=
UPLOAD_MAX_SIZE_BYTES=52428800
UPLOAD_STORAGE_PATH=/tmp/uploads
UPLOAD_STORAGE_BUCKET=tracks
STORAGE_ENDPOINT=http://minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
AXIOM_DATASET=
AXIOM_API_TOKEN=
AXIOM_BASE_URL=
