PORT=7100
NATS_URL=
UPLOAD_MAX_SIZE_BYTES=52428800
UPLOAD_STORAGE_PATH=/tmp/uploads
UPLOAD_STORAGE_BUCKET=tracks
STORAGE_ENDPOINT=
STORAGE_REGION=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
FINGERPRINT_STORAGE_ENDPOINT=
FINGERPRINT_STORAGE_REGION=
FINGERPRINT_STORAGE_ACCESS_KEY=
FINGERPRINT_STORAGE_SECRET_KEY=
FINGERPRINT_STORAGE_BUCKET=
TRANSCRIPTION_STORAGE_ENDPOINT=
TRANSCRIPTION_STORAGE_REGION=
TRANSCRIPTION_STORAGE_ACCESS_KEY=
TRANSCRIPTION_STORAGE_SECRET_KEY=
TRANSCRIPTION_STORAGE_BUCKET=